<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Argus Dashboard</title>
    <meta name="author" content="KartoffelChips">
    <meta name="description" content="Argus - Wactch Discord bots on your server.">
    <%- include("../partials/icons.ejs") %>

    <meta property="og:title" content="Argus - Watch your bot">
    <meta property="og:site_name" content="Argus Dashboard">
    <meta property="og:url" content="https://argus-bot.com/">
    <meta property="og:description" content="Argus - Watch Discord bots on your server.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/img/ogimage.jpg">

    <link href="/assets/css/dashboard/main.css" rel="stylesheet">
</head>
<body>
    <div class="loader"></div>

    <%- include("../partials/nav.ejs", { user: user, userDoc: userDoc }) %>

    <main>
        <div class="section">
            <h2>Your Servers</h2>
            <% user.guilds.forEach(guild => {
                const permsOnGuild = new perms(guild.permissions_new);
                if(!permsOnGuild.has(perms.Flags.ManageGuild)) return;
                if (!bot.guilds.cache.get(guild.id)) return;
            %>
                <div class="server-card">
                    <div class="left">
                        <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" id="${guild.id}" onerror="this.src='/assets/img/person.svg'">` : `<img src="/assets/img/person.svg">` %>
                        <h5><%= guild.name %></h5>
                    </div>
                    <a href="/dashboard/<%- guild.id %>" class="settings">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10.5213 3.62368C11.3147 2.75255 12.6853 2.75255 13.4787 3.62368L14.2142 4.43128C14.6151 4.87154 15.1914 5.11025 15.7862 5.08245L16.8774 5.03146C18.0543 4.97645 19.0236 5.94568 18.9685 7.12264L18.9176 8.21377C18.8898 8.80859 19.1285 9.38487 19.5687 9.78582L20.3763 10.5213C21.2475 11.3147 21.2475 12.6853 20.3763 13.4787L19.5687 14.2142C19.1285 14.6151 18.8898 15.1914 18.9176 15.7862L18.9685 16.8774C19.0236 18.0543 18.0543 19.0236 16.8774 18.9685L15.7862 18.9176C15.1914 18.8898 14.6151 19.1285 14.2142 19.5687L13.4787 20.3763C12.6853 21.2475 11.3147 21.2475 10.5213 20.3763L9.78582 19.5687C9.38487 19.1285 8.80859 18.8898 8.21376 18.9176L7.12264 18.9685C5.94568 19.0236 4.97645 18.0543 5.03146 16.8774L5.08245 15.7862C5.11025 15.1914 4.87154 14.6151 4.43128 14.2142L3.62368 13.4787C2.75255 12.6853 2.75255 11.3147 3.62368 10.5213L4.43128 9.78582C4.87154 9.38487 5.11025 8.80859 5.08245 8.21376L5.03146 7.12264C4.97645 5.94568 5.94568 4.97645 7.12264 5.03146L8.21376 5.08245C8.80859 5.11025 9.38487 4.87154 9.78583 4.43128L10.5213 3.62368Z" stroke="#fefefe" stroke-width="2"></path> <circle cx="12" cy="12" r="3" stroke="#fefefe" stroke-width="2"></circle> </g></svg>
                        Settings
                    </a>
                </div>
            <%
                });
            %>
            <% user.guilds.forEach(guild => {
                const permsOnGuild = new perms(guild.permissions_new);
                if(!permsOnGuild.has(perms.Flags.ManageGuild)) return;
                if (bot.guilds.cache.get(guild.id)) return
            %>
                <div class="server-card">
                    <div class="left">
                        <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" id="${guild.id}" onerror="this.src='/assets/img/person.svg'">` : `<img src="/assets/img/person.svg">` %>
                        <h5><%= guild.name %></h5>
                    </div>
                    <a href="<%= `https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&permissions=${requiredPerms}&scope=bot%20applications.commands&guild_id=${guild.id}&response_type=code&redirect_url=${encodeURIComponent(`${domain}${port == 80 ? "" : `:${port}`}/dashboard/${guild.id}`)}`  %>" class="invite">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 19C3.69137 16.6928 5.46998 16 9.5 16C13.53 16 15.3086 16.6928 16 19" stroke="#fefefe" stroke-width="2" stroke-linecap="round"></path> <path d="M13 9.5C13 11.433 11.433 13 9.5 13C7.567 13 6 11.433 6 9.5C6 7.567 7.567 6 9.5 6C11.433 6 13 7.567 13 9.5Z" stroke="#fefefe" stroke-width="2"></path> <path d="M15 6H21" stroke="#fefefe" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M18 3L18 9" stroke="#fefefe" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        Invite Bot
                    </a>
                </div>
            <%
                });
            %>
        </div>
    </main>

    <%- include("../partials/footer.ejs", {}) %>

    <script src="/assets/js/assets.js"></script>
</body>
</html>